* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	height: 100%;

}

body {
	margin: 0;
	width: 100%;
	height: 100%;

	font-family: 'Univers55', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;

	/*white-space:nowrap;*/
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;

  background-color: #000;
  color: #fff;
}

p {
	margin-top: 0px;
}

img {
	width: 100%;
}

a:link,
a:visited {
    color: #fff;
    /* border-bottom: 1.5px solid #fff; */
    text-decoration: none;
    /* display: inline-block;
    line-height: 18px; */

    background-image: linear-gradient(to right, #FFF, #FFF);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 1px;
}

a:hover {
    color: #fff;

}

a:active {
	color:#FFF;
}

ul {
	list-style-type: none;
	padding-left: 20px;
	margin: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 300px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 25px;
}

.fill {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: none;
}

#full-size-dots {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}

#canvas-container canvas {
  width: 100%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

@media screen and (max-width: 640px) {
  .column {
    width: 100%;
    margin: 0px;
  }

  .container {
    margin: 25px;
    flex-direction: column;
  }

  #first {
    flex-direction: column-reverse;
  }
}
